@import "tailwindcss";

@theme {
  --text-10xl: 10rem;
  --text-11xl: 12rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
  color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}